@keyframes myUniqueRotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: myUniqueRotateAnimation 1s linear infinite;
}
html,
body {
  scroll-behavior: smooth;
}
